<%= render "shared/breadcrumbs" %>
<h1>Products in "<%= @category.name %>"</h1>


<% @products.each do |product| %>
  <h2><%= link_to product.name, product_path(product) %></h2>
  <p><%= product.description %></p>
  <hr>
<% end %>
